<header class="site-header">
  HEADER
</header>

<main class="content-area clearfix">
  <div class="item">Left</div>
  <div class="item">Right</div>
</main>

<aside class="news-items clearfix">
  <div class="news">Left</div>
  <div class="news">Center</div>
  <div class="news">Right</div>
</aside>

<footer class="colophon">
  <nav>
    <ul>
      <li>JOHNSON0001</li>
      <li>JOHNSON0002</li>
      <li>JOHNSON0003</li>
      <li>JOHNSON0004</li>
      <li>JOHNSON0005</li>
    </ul>
  </nav>
</footer>